# Projeto Covid - Situação Brasil
## Por: Michel Souza Santana
> Data: 20/01/2023

> Para realização do calculo de mortalidade se faz necessário ter a população de cada estado.
Devido a tal, irei capturar de um site os dados faltantes.

In [17]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [18]:
html = urlopen('https://www.amunes.org.br/noticia/ler/173/ibge-divulga-nova-estimativa-populacional-dos-estados-e-municipios')
bs = BeautifulSoup(html.read(), 'html.parser')
populacao = bs.findAll('tr')
populacao[:5]

[<tr><th xss="removed">Estado</th><th xss="removed">População</th></tr>,
 <tr><td xss="removed">Região Sudeste</td><td xss="removed"></td></tr>,
 <tr><td xss="removed">São Paulo</td><td xss="removed">43.663.672</td></tr>,
 <tr><td xss="removed">Minas Gerais</td><td xss="removed">20.593.366</td></tr>,
 <tr><td xss="removed">Rio de Janeiro</td><td xss="removed">16.369.178</td></tr>]

In [19]:
tabela = []
for t in range(len(populacao)):
    tabela.append(populacao[t])
    
tabela[:5]

[<tr><th xss="removed">Estado</th><th xss="removed">População</th></tr>,
 <tr><td xss="removed">Região Sudeste</td><td xss="removed"></td></tr>,
 <tr><td xss="removed">São Paulo</td><td xss="removed">43.663.672</td></tr>,
 <tr><td xss="removed">Minas Gerais</td><td xss="removed">20.593.366</td></tr>,
 <tr><td xss="removed">Rio de Janeiro</td><td xss="removed">16.369.178</td></tr>]

In [20]:
df = pd.DataFrame(tabela)
df.drop(index=([0, 1]), inplace=True)
df = df.reset_index()
df.drop(columns=['index'], inplace=True)

/usr/lib/python3/dist-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [21]:
df

                        0             1
0             [São Paulo]  [43.663.672]
1          [Minas Gerais]  [20.593.366]
2        [Rio de Janeiro]  [16.369.178]
3        [Espírito Santo]   [3.839.363]
4       [Região Nordeste]            []
5                 [Bahia]  [15.044.127]
6            [Pernambuco]   [9.208.551]
7                 [Ceará]   [8.778.575]
8              [Maranhão]   [6.794.298]
9               [Paraíba]   [3.914.418]
10  [Rio Grande do Norte]   [3.373.960]
11              [Alagoas]   [3.300.938]
12                [Piauí]   [3.184.165]
13              [Sergipe]   [2.195.662]
14           [Região Sul]            []
15    [Rio Grande do Sul]  [11.164.050]
16               [Paraná]  [10.997.462]
17       [Santa Catarina]   [6.634.250]
18         [Região Norte]            []
19                 [Pará]   [7.969.655]
20             [Amazonas]   [3.807.923]
21             [Rondônia]   [1.728.214]
22            [Tocantins]   [1.478.163]
23                 [Acre]     [776.463]
24                [Amapá]     [734.995]
25              [Roraima]     [488.072]
26  [Região Centro-Oeste]            []
27                [Goiás]   [6.434.052]
28          [Mato Grosso]   [3.182.114]
29     [Distrito Federal]   [2.789.761]
30   [Mato Grosso do Sul]   [2.587.267]

In [22]:
for i in range(len(df[0])):
    df[0][i] = df[0][i].get_text()
    df[1][i] = df[1][i].get_text()
df

                      0           1
0             São Paulo  43.663.672
1          Minas Gerais  20.593.366
2        Rio de Janeiro  16.369.178
3        Espírito Santo   3.839.363
4       Região Nordeste
5                 Bahia  15.044.127
6            Pernambuco   9.208.551
7                 Ceará   8.778.575
8              Maranhão   6.794.298
9               Paraíba   3.914.418
10  Rio Grande do Norte   3.373.960
11              Alagoas   3.300.938
12                Piauí   3.184.165
13              Sergipe   2.195.662
14           Região Sul
15    Rio Grande do Sul  11.164.050
16               Paraná  10.997.462
17       Santa Catarina   6.634.250
18         Região Norte
19                 Pará   7.969.655
20             Amazonas   3.807.923
21             Rondônia   1.728.214
22            Tocantins   1.478.163
23                 Acre     776.463
24                Amapá     734.995
25              Roraima     488.072
26  Região Centro-Oeste
27                Goiás   6.434.052
28          Mato Grosso   3.182.114
29     Distrito Federal   2.789.761
30   Mato Grosso do Sul   2.587.267

In [23]:
df[1] = df[1].str.replace('.', '')
df =df.fillna(0)
df

/tmp/ipykernel_33613/2865770357.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[1] = df[1].str.replace('.', '')

                      0         1
0             São Paulo  43663672
1          Minas Gerais  20593366
2        Rio de Janeiro  16369178
3        Espírito Santo   3839363
4       Região Nordeste
5                 Bahia  15044127
6            Pernambuco   9208551
7                 Ceará   8778575
8              Maranhão   6794298
9               Paraíba   3914418
10  Rio Grande do Norte   3373960
11              Alagoas   3300938
12                Piauí   3184165
13              Sergipe   2195662
14           Região Sul
15    Rio Grande do Sul  11164050
16               Paraná  10997462
17       Santa Catarina   6634250
18         Região Norte
19                 Pará   7969655
20             Amazonas   3807923
21             Rondônia   1728214
22            Tocantins   1478163
23                 Acre    776463
24                Amapá    734995
25              Roraima    488072
26  Região Centro-Oeste
27                Goiás   6434052
28          Mato Grosso   3182114
29     Distrito Federal   2789761
30   Mato Grosso do Sul   2587267

In [24]:
for i in range(len(df[0])):
    if df[1][i] == '' or df[1][i] == ' ':
        df[1][i] = 0

In [25]:
df[1] = df[1].astype('int64')
df

                      0         1
0             São Paulo  43663672
1          Minas Gerais  20593366
2        Rio de Janeiro  16369178
3        Espírito Santo   3839363
4       Região Nordeste         0
5                 Bahia  15044127
6            Pernambuco   9208551
7                 Ceará   8778575
8              Maranhão   6794298
9               Paraíba   3914418
10  Rio Grande do Norte   3373960
11              Alagoas   3300938
12                Piauí   3184165
13              Sergipe   2195662
14           Região Sul         0
15    Rio Grande do Sul  11164050
16               Paraná  10997462
17       Santa Catarina   6634250
18         Região Norte         0
19                 Pará   7969655
20             Amazonas   3807923
21             Rondônia   1728214
22            Tocantins   1478163
23                 Acre    776463
24                Amapá    734995
25              Roraima    488072
26  Região Centro-Oeste         0
27                Goiás   6434052
28          Mato Grosso   3182114
29     Distrito Federal   2789761
30   Mato Grosso do Sul   2587267

In [26]:
df = df[df[1] != 0]
df

                      0         1
0             São Paulo  43663672
1          Minas Gerais  20593366
2        Rio de Janeiro  16369178
3        Espírito Santo   3839363
5                 Bahia  15044127
6            Pernambuco   9208551
7                 Ceará   8778575
8              Maranhão   6794298
9               Paraíba   3914418
10  Rio Grande do Norte   3373960
11              Alagoas   3300938
12                Piauí   3184165
13              Sergipe   2195662
15    Rio Grande do Sul  11164050
16               Paraná  10997462
17       Santa Catarina   6634250
19                 Pará   7969655
20             Amazonas   3807923
21             Rondônia   1728214
22            Tocantins   1478163
23                 Acre    776463
24                Amapá    734995
25              Roraima    488072
27                Goiás   6434052
28          Mato Grosso   3182114
29     Distrito Federal   2789761
30   Mato Grosso do Sul   2587267

In [27]:
df = df.reset_index()
df.drop(columns=['index'], inplace=True)

In [28]:
df = df.rename(columns={df.columns[0]:'estado'})
df = df.rename(columns={df.columns[1]:'populacao'})

In [29]:
df = df.sort_values(by=['estado'])
df = df.reset_index()
df.drop(columns=['index'], inplace=True)
df

                 estado  populacao
0                  Acre     776463
1               Alagoas    3300938
2                 Amapá     734995
3              Amazonas    3807923
4                 Bahia   15044127
5                 Ceará    8778575
6      Distrito Federal    2789761
7        Espírito Santo    3839363
8                 Goiás    6434052
9              Maranhão    6794298
10          Mato Grosso    3182114
11   Mato Grosso do Sul    2587267
12         Minas Gerais   20593366
13               Paraná   10997462
14              Paraíba    3914418
15                 Pará    7969655
16           Pernambuco    9208551
17                Piauí    3184165
18  Rio Grande do Norte    3373960
19    Rio Grande do Sul   11164050
20       Rio de Janeiro   16369178
21             Rondônia    1728214
22              Roraima     488072
23       Santa Catarina    6634250
24              Sergipe    2195662
25            São Paulo   43663672
26            Tocantins    1478163

In [30]:
df.to_csv('csv/populacao.csv')